/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: Seb-Neue;
    src: url(./Fonts/SebneueBold-PwMm.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, object, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

img {
    border-radius: 50%;
}

:root {
    --sidebar-color: #064e3b;
    --secondary-color: #d1fae5;
    --article-area-color: #bbf7d0;
    --shadow-color: rgba(0, 56, 16, 0.795);
    --button-color: #a95252;
    --border-color: #f97316;
    --pop-color: #166534;
}

body {
    display:grid;
    grid-template-columns: minmax(250px, 1fr) 6fr;
    grid-template-rows: 100vh;
    background-color: #15803d;
    font-family: Seb-Neue, 'Arial Narrow Bold', sans-serif;
}

path {
    fill: var(--secondary-color)
}

.sidebar {
    min-height: 100vh;
    z-index: 3;
    background-color: var(--sidebar-color);
    color:white;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10%;
    gap: 3rem;
}

.title-wrap {
    display:flex;
    margin-top: 1rem;
    gap: .8rem;
    align-items: center;
}

.title-wrap object {
    height: 1.8rem;
    width: auto;
    filter: invert(95%) sepia(3%) saturate(1655%) hue-rotate(88deg) brightness(102%) contrast(96%);
}

.title-wrap>h2 {
    font-size: 2rem;
}

.side-list-wrapper{
    display:flex;
    gap: .8rem;
    align-items: center;
}

.side-list-wrapper>li{
    margin: 1rem 0px;
    font-size: 1.4rem;
    font-weight: bold;
}
.side-list-wrapper svg {
    height: 1.4rem;
    width: auto;
}

.side-list-wrapper a {
    text-decoration: none;
    color: white;
}

.side-list-svg {
    height: 1.4rem;
    width: auto;
    filter: invert(95%) sepia(3%) saturate(1655%) hue-rotate(88deg) brightness(102%) contrast(96%);
}

.main-area{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1fr 6fr;
}

.header{
    display:flex;
    align-items: center;
    background-color: var(--sidebar-color);
    box-sizing: border-box;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-icon {
    height: 1.75rem;
}

input[type="search"] {
    width: 50%;
    height: 1.75rem;
    margin-left: 1rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0 .7rem;
    border-style: solid;
}

.header:first-child{
    padding-left: 2rem;
}


.header-pfp {
    height: 2.5rem;
    width: auto;
}

.header>ul {
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: 4rem;
    justify-content: center;
    align-items: center;
}

.notif-bell {
    height: 1.5rem;
    filter: invert(95%) sepia(3%) saturate(1655%) hue-rotate(88deg) brightness(102%) contrast(96%);
}

.account-name{
    font-size: 1.4rem;
    text-decoration: none;
    color:var(--secondary-color);
}

.welcomebar {
    position:relative;
    box-sizing: border-box;
    display:flex;
    gap:1.5rem;
    align-items: center;
    box-shadow: 0px 6px 3px 3px var(--shadow-color);
    z-index: 2;
    background-color: #15803d;
    color: var(--secondary-color);
    padding: 1rem 0rem;
}

.welcome-pfp{
    height:3rem;
    margin-left: 3rem;
    box-shadow: 2px 2px 2px var(--shadow-color);
    box-sizing: border-box;
    transition: all .2s;
}

.welcome-pfp:hover{
    box-shadow: 0px 0px 4px 5px var(--sidebar-color);
    border-color: var(--sidebar-color);
    border-style: solid;
    border-width: .2rem;
}

.welcome-buttons{
    display:flex;
    gap: 1.8rem;
    justify-content: center;
    align-content: center;
    margin-left:auto;
    margin-right: 4rem;
}

button {
    width:auto;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: #047857;
    background-color: var(--sidebar-color);
    color: white;
    box-shadow: 2px  2px 3px var(--shadow-color);
}

button:hover{
    cursor: pointer;
}

.article-area{
    z-index:1;
    display:grid;
    gap: 2rem;
    grid-template-columns: 3fr 1fr;
    background-color: var(--article-area-color);
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: relative;
}

.article-area h2 {
    margin-bottom: .8rem;
    color: var(--pop-color);
    font-weight: bold;
    text-decoration: underline;
}


.project-area{
    grid-row: 1 / span 3;
    margin-left: 2rem;
    max-height: max-content;
}

.project-card-grid{
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1fr, 175px);
    height: max-content;
}

.project {
    background-color: aliceblue;
    background-image: none;
    border-left: .5rem solid var(--border-color);
    border-radius: .5rem;
    box-sizing: border-box;
    box-shadow: 5px 5px 2px 2px var(--shadow-color);
    padding: 2rem 1rem;
}

.project>h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.announcements {
    height: max-content;
}

.announcement-cards {
    background-color: aliceblue;
    min-width: 200px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 2px 2px var(--shadow-color);
    height:90%
}

.announcement-cards>article{
    max-width:80%;
    min-width: 150px;
    padding: 1rem 0;
}

.announcement-cards>article:not(:last-child) {
    border-bottom: 1px solid grey; 
    padding-bottom: .5rem;
}

.announcement-cards>article:not(:first-child) {
    padding-top: .5rem;
}

.announcement-title {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.recommended-items{
    height: max-content;
}

.recommended-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
    padding:1rem 1rem;
    background-color: aliceblue;
    box-shadow: 5px 5px 2px 2px var(--shadow-color);
    border-radius: 1rem;
    height:100%;
    max-width: 60%;
    min-width: 200px;
}

.recommended-item {
    display:flex;
    gap: 1rem;
    flex: 1 0 auto;
    padding: 1rem 0;
}

.rec-icon{
    display:flex;
    width:2.5rem;
    height:auto;
    border-radius: 3rem;
    background-color: white;
}

.recommended-item>div {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.announcement-cards p,
.recommended-item>div>p {
    font-family: 'Arial Narrow Bold', system-ui, sans-serif;
    font-size: .8rem;
}

@media only screen and (max-width: 1680px){
    body{
        grid-template-columns:1fr;
    }

    .sidebar{
        display:none;
    }

    .project-card-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}

@media only screen and (max-width: 966px){
    .article-area{
        grid-template-columns: 1fr 1fr;
        max-height: 100%;
        grid-template-rows: 1fr 1fr;
    }

    .project-area{
        grid-column: 1 / -1;
    }
    
    .welcome-pfp{
        height: 2rem;
    }

    .header-pfp{
        height: 1rem;
    }

    .notif-bell{
        height:1rem;
    }
}